@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Task_Management_System.ViewModels.TeamAssign

@{
	ViewData["Title"] = "TeamAssign";
	Layout = "~/Views/Shared/_Tasks_Layout.cshtml";
}

<div class="row justify-content-center">


	<form method="post" asp-action="TeamAssign" asp-controller="Teams">
		<input type="hidden" name="TeamId" value="@Model.Team_Id">

		<table class="table">
			<thead>
				<tr>
					<th>Employee ID</th>
					<th>Name</th>
					<th>Select</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var employee in Model.Assign_User)
				{
					<tr>
						<td>@employee.Employee_Id</td>
						<td>@employee.Employee_Name</td>
						<td><input type="checkbox" name="selectedEmployees" value="@employee.Employee_Id" /></td>
					</tr>
				}
			</tbody>
		</table>
		<button type="submit">Submit</button>



	</form>
</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}

